@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Department
@if (Model.Organizations != null)
{
    @foreach (var organization in Model.Organizations)
    {
    <div class="col">
        <a class="link-white-2" asp-area=" " asp-controller="Org" asp-action="Details">
            <div class="card flex_card my-2 h-100">

                <img src="../assets/tomweb1.jpg" class="card-img-top" alt="...">
                <div class="card-body" style="width: 100%!important;">
                    <h5 class="card-title"><b>@organization.OrgName</b></h5>
                    <p class="card-text">@organization.Details</p>
                </div>
            </div>
        </a>
    </div>
    }
}