@{
    ViewData["Title"] = " Orgs";
}
@model List<Department>
<!-- search bar -->
<div style="margin-top:100px!important">
<div class="row g-1 mx-5 mt-5 flex_card border border-2 border-dark rounded-pill h-10 px-2 py-1 ">

    <!-- dropdown -->
    <div class="col-3 collapse d-none d-sm-inline-flex justify-content-center mx-2">
        <div class="dropdown">
            <button class="btn btn-light text-dark dropdown-toggle border border-0 rounded-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Filter department</b>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else her</a></li>
			</ul>
        </div>
    </div>

    <!-- vertical rule -->
    <div class="collapse d-none d-sm-block col d-inline-flex justify-content-center mx-auto">
        <div class="vr mb-1 rounded bg-black" style="width: 5%; height: 90%;"></div>
    </div>

    <!-- text field -->
    <div class="col-6 d-inline-flex mw-100">
        <input type="text" class="form-control mb-1 border border-0 rounded-5 " placeholder="Search">
    </div>

    <!-- search icon -->
    <div class="collapse d-none d-sm-block col d-flex border border-0 rounded-5 justify-content-center">
        <img src="../assets/search.png" class="card-img-top w-40 px-5" alt="...">
    </div>
</div>

<!-- org cards -->
<div class="row row-cols-sm-1 row-cols-md-3 g-3 mx-5 my-3 flex_card">
    <div class="col">
            <a class="link-white-3 link-black-2" asp-action="DepartmentDetails" asp-route-departmentId="1">
            <div class="card flex_card border border-dark border-2 h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex">
                    <img src="../assets/arts.png" class="card-img-top" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <div class="card-body">
                        <p class="card-text"> <b> FACULTY OF ARTS AND LETTERS  </b></p>
                    </div>
                </div>
            </div>
       </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2"  asp-action="DepartmentDetails" asp-route-departmentId="2">
            <div class="card flex_card border border-dark border-2 h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex ">
                    <img src="../assets/business.png" class="card-img-top me-3" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <p class="card-text"> <b>COLLEGE OF COMMERCE AND BUSINESS ADMINISTRATION </b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2"  asp-action="DepartmentDetails" asp-route-departmentId="3">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex">
                    <img src="../assets/educ.png" class="card-img-top" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <div class="card-body">
                        <p class="card-text"> <b> COLLEGE OF EDUCATION </b></p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2"  asp-action="DepartmentDetails" asp-route-departmentId="4">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex">
                    <img src="../assets/amv.png" class="card-img-top me-3" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <p class="card-text ms-2"> <b>AMV COLLEGE OF ACCOUNTANCY </b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2"  asp-action="DepartmentDetails" asp-route-departmentId="5">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex ">
                    <img src="../assets/tourism.png" class="card-img-top me-3" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <p class="card-text"> <b>COLLEGE OF TOURISM AND HOSPITALITY MANAGEMENT </b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2"  asp-action="DepartmentDetails" asp-route-departmentId="6">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex">
                    <img src="../assets/arch.png" class="card-img-top" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <div class="card-body">
                        <p class="card-text"> <b>COLLEGE OF ARCHITECTURE </b></p>
                    </div>
                </div>
            </div>
       </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2" asp-action="DepartmentDetails" asp-route-departmentId="7">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex ">
                    <img src="../assets/cics.png" class="card-img-top me-3" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <p class="card-text"> <b>COLLEGE OF INFORMATION AND COMPUTING SCIENCES </b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2" asp-area=" " asp-action="DepartmentDetails" asp-route-departmentId="8">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex ">
                    <img src="../assets/fine-arts.png" class="card-img-top me-3" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <p class="card-text"> <b>COLLEGE OF FINE ARTS AND DESIGN </b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2" asp-area=" " asp-action="DepartmentDetails" asp-route-departmentId="9">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex">
                    <img src="../assets/eng.png" class="card-img-top" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <div class="card-body">
                        <p class="card-text"> <b>FACULTY OF ENGINEERING </b></p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2" asp-area=" " asp-action="DepartmentDetails" asp-route-departmentId="10">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex">
                    <img src="../assets/nursing.png" class="card-img-top" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <div class="card-body">
                        <p class="card-text"> <b>COLLEGE OF NURSING </b></p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2" asp-area=" " asp-action="DepartmentDetails" asp-route-departmentId="11">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex">
                    <img src="../assets/pharma.png" class="card-img-top" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <div class="card-body">
                        <p class="card-text"> <b>FACULTY OF PHARMACY </b></p>
                    </div>
                </div>
            </div>
       </a>
    </div>

    <div class="col">
            <a class="link-white-3 link-black-2" asp-action="DepartmentDetails" asp-route-departmentId="12">
            <div class="card flex_card border border-2 border-dark h-75 justify-content-center link-white-3">
                <div class="card-body d-inline-flex ">
                    <img src="../assets/medicine.png" class="card-img-top me-3" style="width: 60px; height:60px;" alt="...">
                    <!-- <h5 class="card-title" >Card title</h5> -->
                    <p class="card-text"> <b>FACULTY OF MEDICINE AND SURGERY</b></p>
                </div>
            </div>
        </a>
    </div>

</div>

<!-- univ wide orgs redirect -->

<div class="row row-cols-1 row-cols-md-1 g-3 mx-5 my-1 flex_card">
    <div class="col">
            <a class="link-white-3" asp-area=" " asp-action="DepartmentDetails" asp-route-departmentId="13">
            <div class="card flex_card border border-2 border-dark justify-content-center align-items-center h-75 link-white-3">
                <div class="card-body d-inline-flex">
                    <img src="../assets/ust.png" class="card-img-top ms-auto" style="width: 60px; height:60px;" alt="...">
                    <p class="card-text ms-3 me-auto mt-3"> <b>UNIVERSITY WIDE ORGANIZATIONS</b></p>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- horizontal rule -->
<div class="row row-cols-1 row-cols-md-1 g-3 mx-4 my-1 flex_card">
    <div class="col">
        <hr class="border border-4 rounded-pill border-warning">
    </div>
</div>

<!-- cards -->
<div class="row row-cols-1 row-cols-md-3 g-3 mx-4 my-3 mb-5 flex_card">
        @foreach (var department in Model)
        {
            @Html.Partial("_DepartmentDetails", department)
        }
    </div>


        <!--<div class="col">
            <a class="link-white-2" asp-area=" " asp-controller="Home" asp-action="Details">
            <div class="card flex_card my-2 h-100">
             
            <img src="../assets/tomweb1.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 100%!important;">
                <h5 class="card-title"><b>TomasinoWeb</b></h5>
                <p class="card-text">TomasinoWeb is the premier digital media organization of the University of Santo Tomas joined by students who are immensely interested in multimedia journalism.</p>
            </div>
                </div>
            </a>
        </div>

    <div class="col">
        <div class="card flex_card my-2 h-100">
            <img src="../assets/ustartlets.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 100%!important;">
                <h5 class="card-title"><b>Artlets Economics Society</b></h5>
                <p class="card-text">Artlets Economics Society (AES) is a duly recognized organization of the Faculty of Arts and Letters of the University of Santo Tomas.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card flex_card my-2 h-100">
            <img src="../assets/sgawi.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 100%!important;">
                <h5 class="card-title"><b>UST Salinggawi Dance Troupe</b></h5>
                <p class="card-text">The UST Salinggawi Dance Troupe, is the University-wide organization for dance and the official dance troupe of the University of Santo Tomas. The group is known for its versatility covering wide array of genre from performing arts to cheerleading, from contemporary to breakdancing.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card flex_card my-2 h-100">
            <img src="../assets/usteconomic.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 100%!important;">
                <h5 class="card-title"><b>UST Economics Society</b></h5>
                <p class="card-text">Business Economic Department, a community of young and aspiring economists became globally competitive and socially aware individuals.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card flex_card my-2 h-100">
            <img src="../assets/tgs.png" class="card-img-top" alt="...">
            <div class="card-body" style="width: 100%!important;">
                <h5 class="card-title"><b>Thomasian Gaming Society</b></h5>
                <p class="card-text">The Thomasian Gaming Society is the Official Video Game Organization of the University of Santo Tomas.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card flex_card my-2 h-100">
            <img src="../assets/unesco.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 100%!important;">
                <h5 class="card-title"><b>UNESCO Club</b></h5>
                <p class="card-text">UNESCO Club of University of Santo Tomas is a University-Wide Organization in the University of Santo Tomas and an accredited UNESCO Club of the UNESCO National Commission of the Philippines.</p>
            </div>
        </div>
    </div>-->
</div>

