<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThomasianOrglink</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/logoicon.png">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black box-shadow justify-content-between fixed-top">
            <div class="container-fluid">

                @*NAV LOGO*@
                <div class="collapse d-none d-sm-block w-40">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/Logo.png" class="w-100 px-4" /></a>
                </div>

                @*NAV TOGGLER*@
                <button class="navbar-toggler justify-content-center w-100 my-2 border-2" type="button" data-bs-toggle="collapse" data-bs-target="#dbTogglerContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @*NAV TABS*@
                <div class="navbar-collapse w-75 collapse d-none d-sm-inline-flex justify-content-around">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="link-white mx-3 px-3 py-1 border-1 rounded" asp-area="" asp-controller="Home" asp-action="Index"><b>HOME</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="link-white mx-3 px-3 py-1 border-1 rounded" asp-area="" asp-controller="Home" asp-action="ViewOrg"><b>ORGS</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="link-black  mx-3 px-3 py-1 border-1 rounded" asp-area="" asp-controller="Student" asp-action="AddStudent"><b>APPLY</b></a>
                        </li>
                    </ul>
                </div>

                @*NAV SEARCH BAR*@
                <div class="d-flex mx-3 w-50 collapse d-none d-sm-inline-flex justify-content-center ">
                    <form class="w-75" role="search">
                        <input class="form-control w-100 d-none d-lg-block border rounded-5" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>

                @*NAV ICONS*@
                <div class="d-flex mx-3 w-25 collapse d-none d-sm-inline-flex justify-content-center">
                    <a class="navbar-collapse collapse" asp-area="" asp-controller="Home" asp-action="Menu"><img class="w-30 m-auto" src="~/assets/iconprof.png" /></a>
                </div>
            </div>

            @*NAV TOGGLER CONTENT*@
            <div class="collapse align-self-auto d-sm-none d-md-none d-lg-none d-xl-none flex-column bg-brown text-center w-100" id="dbTogglerContent" data-bs-theme="dark">
                <ul class="navbar-nav">

                    <a class="link-white-2" asp-area=" " asp-controller="Home" asp-action="Index">
                    <li class="nav-item py-2">
                        <span class=" mx-4 px-3 py-1 border-1 rounded"><b>HOME</b></span>
                    </li>
                    </a>

                    <a class="link-white-2" asp-area=" " asp-controller="Home" asp-action="ViewOrg">
                    <li class="nav-item py-2">
                        <span class="mx-4 px-3 py-1 border-1 rounded"><b>VIEW ORGS</b></span>
                    </li>
                    </a>

                    <a class="link-white-2" asp-area="" asp-controller="Student" asp-action="AddStudent">
                    <li class="nav-item py-2">
                        <span class=" mx-4 px-3 py-1 border-1 rounded"><b>APPLY</b></span>
                    </li>
                    </a>

                </ul>
            </div>
        </nav>


    </header>
    <div class="py-4    ">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <nav class = "container-fluid pt-3 bg-black">
            <div class = "row g-3 my-3 justify-content-center">

                <!-- logo -->
                <div class="col-lg-4 col-sm-12">
                    <div class="d-flex justify-content-center my-1">
                        <a asp-action="Index" class="">
                            <img src="../assets/Logo.png" class = "text-center" style="max-width: 200px; width:100%;">
                        </a>
                    </div>

                    <!-- copyright -->
                    <div class=" copyright my-1">
                        <p class="d-flex justify-content-center bg-transparent text-light border-0">© 2023 Copyright: Thomasian Orglink</p>
                    </div>
                </div>

                <!-- links -->
                <div class="col-2 collapse d-none d-sm-block">
                    <div class="items">
                        <ul class = "list-group">
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/index.php">HOME</a></li>
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/view.php">ORGS</a></li>
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/aform.php">APPLY</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 collapse d-none d-sm-block">
                    <div class="items">
                        <ul class = "list-group">
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/index.php">ABOUT</a></li>
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/view.php">CONTACT US</a></li>
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/aform.php">RESOURCES</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 collapse d-none d-sm-block">
                    <div class="items">
                        <ul class = "list-group">
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/index.php">SUPPORT</a></li>
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/view.php">SUBMIT A TICKET</a></li>
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/aform.php">AFFILIATES</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 collapse d-none d-sm-block">
                    <div class="items">
                        <ul class = "list-group">
                            <li class="list-group-item bg-transparent  border-0"><a class="link-white-2 text-decoration-none" href="../frontend/index.php">FAQS</a></li>
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/view.php">PRIVACY POLICY</a></li>
                            <li class="list-group-item bg-transparent border-0"><a class="link-white-2 text-decoration-none" href="../frontend/aform.php">T&C</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        <!-- horizontal rule -->
            <div class=" collapse d-none d-sm-block row row-cols-1 row-cols-md-1 g-3 mx-4 my-1 flex_card">
                <div class="col">
                    <hr class = "border border-4 rounded-pill border-yellow">
                </div>
            </div>
            
        <!-- socials -->
            <div class = "row g-3 mx-5">
                <div class="col d-flex justify-content-evenly my-5">
                    <a href=""><img style = "max-width: 30px" src ="../assets/twitter.png"></a>
                    <a href=""><img style = "max-width: 30px" src ="../assets/fb.png"></a>
                    <a href=""><img style = "max-width: 30px" src ="../assets/ig.png"></a>
                </div>
            </div>
        </nav>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
