body {
    background-image: url('../assets/2.png');
    background-size: contain;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.mid_card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
    margin-top: 150px;
    background-color: #151515 !important;
    color: white;
    padding: 20px;
    padding-bottom: 40px;
}

.create_acc {
    margin-top: 30px;
    margin-bottom: 30px !important;
    text-align: left;
}

.card_width {
    width: 40%;
}

.capsule {
    width: 40%;
}

.gray {
    color: gray !important;
}

.card_width_body {
    width: 80%;
}

.margin_forms {
    margin-bottom: 20px;
    height: 50px !important;
}

.text_left {
    text-align: left !important;
}

.button_position {
    /* margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%; */
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register {
    margin-bottom: 20px;
}

.button_size {
    width: 80% !important;
}

@media only screen and (max-width: 1190px) {
    .card_width {
        width: 60%;
    }

    .capsule {
        width: 60%;
    }

    .card_width_body {
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .card_width {
        width: 90%;
    }

    .capsule {
        width: 90%;
    }

    .card_width_body {
        width: 90%;
    }

    .button_position {
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .register {
        margin-bottom: 20px;
    }

    .button_size {
        width: 80% !important;
    }
}
