@{
    ViewData["Title"] = "Account";

    }

@model ThomasianOrglist.ViewModels.EditAccountViewModel
@using System.ComponentModel.DataAnnotations;
@using ThomasianOrglist.ViewModels

    <div class="d-flex align-items-center justify-content-center flex-column ">

        <div class="card w-100 w-md-90" style="margin-top:100px!important; color:white; border-radius: 50px!important;">
            <div class="card-body " style="background-color:#1E1E1E;padding:40px ; border-radius: 50px!important; ">

                <div style="text-align: left; margin-left:600px">
                    <h3 class="card-title text-white my-2">PROFILE INFORMATION</h3>
                </div>
                    <form asp-action="AccountEdit" method="post" enctype="multipart/form-data">
                <div class="text-warning bold text-decoration-none text-center validation-summary-errors" asp-validation-summary="All">
                </div>
                <div class="d-flex flex-column flex-sm-row align-items-flex-start justify-content-center">
                    <div class="d-flex align-items-center justify-content-center p-2 w-100 flex-column flex-sm-50">
                        <img src="../assets/iconprof.png" class="d-block filter" style="border-radius: 70%; width:240px" alt="..." />
                        <div class="d-flex flex-column align-items-center justify-content-center p-2 w-100">
                            <input asp-for="profile_img" class="form-control w-50" type="file">
                        </div>
                    </div>
                    <div class="d-flex align-items-center align-items-sm-start justify-content-start p-2 w-100 flex-column flex-sm-50">
                        <b class="fs-5">FIRST NAME:</b>
                        <input class="form-control margin_forms bold" type="text" placeholder="FIRST NAME" aria-label="default input example" asp-for="fname">
                        <br />
                        <b class="fs-5">LAST NAME:</b>
                        <input class="form-control margin_forms bold" type="text" placeholder="LAST NAME" aria-label="default input example" asp-for="lname">
                        <br />
                        <b class="fs-5">YEAR LEVEL:</b>
                        <input class="form-control margin_forms bold" type="text" placeholder="YEAR LEVEL" aria-label="default input example" asp-for="year_level">
                        <br />
                        <b class="fs-5">DEGREE PROGRAM:</b>
                        <select class="form-select font_bold gray margin_forms" placeholder="DEGREE PROGRAM" asp-for="program">
                            @foreach (var program in Enum.GetValues(typeof(Program)))
                            {
                                var enumName = Enum.GetName(typeof(Program), program);
                                var displayAttribute = typeof(Program).GetField(enumName)?.GetCustomAttributes(typeof(DisplayAttribute), false)
                                .FirstOrDefault() as DisplayAttribute;
                                <option value="@program"> @displayAttribute?.Name</option>
                            }
                        </select>
                        <br />
                        <b class="fs-5">CURRENT PASSWORD:</b>
                        <input class="form-control margin_forms bold" type="password" placeholder="OLD PASSWORD" aria-label="default input example" asp-for="oldPassword">
                        <br />
                        <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-row flex-md-row flex-md-50" style="margin-top:100px">
                            <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">                        
                                <a asp-controller="Student" asp-action="StudentDetails" class="btn btn-danger ml-md-3 mr-md-3 mr-md-3" style="width:150px; height:40px;"><b>CANCEL</b></a>
                            </div>
                            <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">
                                <button type="submit" asp-action="AccountEdit" method="POST" class="btn btn-warning ml-md-3 mr-md-3 mr-md-3" style="width:200px; height:40px;"><b>SAVE PROFILE</b></button>
                            </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <div class="card card w-100 w-md-90" style="width:90%;margin-top:40px!important;margin-bottom:40px!important; color:white; border-radius: 50px!important;">
            <div class="card-body " style="background-color:#1E1E1E;padding:40px ; border-radius: 50px!important; ">
                <!--<img src="@Url.Action("DisplayBase64Image")" alt="Base64 Image" />  -->

                <div style="text-align: center;">
                    <h3 class="card-title text-white my-2">ACCOUNT INFORMATION</h3>
                </div>

                <div class="d-flex flex-column flex-sm-row align-items-flex-start justify-content-center">

            <form asp-action="AccountEdit" method="post" enctype="multipart/form-data">
                <div class="text-warning bold text-decoration-none text-center validation-summary-errors" asp-validation-summary="All">
                </div>
                    <div class="d-flex align-items-center align-items-sm-start justify-content-start p-2 w-100 flex-column flex-sm-50">
                        
                        <b class="fs-5">USERNAME:</b>
                        <input class="form-control margin_forms bold" type="text" placeholder="USERNAME" aria-label="default input example" asp-for="username">
                        <br />
                        <b class="fs-5">CURRENT PASSWORD:</b>
                        <input class="form-control margin_forms bold" type="password" placeholder="OLD PASSWORD" aria-label="default input example" asp-for="oldPassword">
                        <br />
                        <b class="fs-5">NEW PASSWORD:</b>
                        <input class="form-control margin_forms bold" type="password" placeholder="NEW PASSWORD" aria-label="default input example" asp-for="newPassword">
                        <br />
                        <b class="fs-5">EMAIL ADDRESS:</b>
                        <input class="form-control margin_forms bold" type="text" placeholder="@@ust.edu.ph" aria-label="default input example" asp-for="email">
                        <br />
                        <b class="fs-5">CONTACT NUMBER:</b>
                        <input class="form-control margin_forms bold" type="text" placeholder="+63" aria-label="default input example" asp-for="pnumber">
                        <br />
                        <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-row flex-md-row flex-md-50" style="margin-top:100px">
                            <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">
                                <a asp-controller="Student" asp-action="StudentDetails" class="btn btn-danger ml-md-3 mr-md-3 mr-md-3" style="width:150px; height:40px;"><b>CANCEL</b></a>
                            </div>
                            <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">
                                <button type="submit" asp-action="AccountEdit" method="POST" class="btn btn-warning ml-md-3 mr-md-3 mr-md-3" style="width:150px; height:40px;"><b>SAVE PROFILE</b></button>
                            </div>
                
                        </div>
                                       </form>
                    </div>

                </div>

            </div>
        </div>

