@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@model IEnumerable<ThomasianOrglist.Models.Student>

@{
    ViewData["Title"] = "Account";

    }


<div class="d-flex align-items-center justify-content-center flex-column ">
    <div style="width:90%;">
        <div class="card w-100 w-md-90" style="margin-top:100px!important; color:white;border-radius: 20px!important;  ">
            <div class="card-body " style="background-color:#1E1E1E;padding:40px ; border-radius: 20px!important; ">
                <!--<img src="@Url.Action("DisplayBase64Image")" alt="Base64 Image" />  -->
                <div class="d-flex flex-row flex-sm-row align-items-flex-start justify-content-center" style="margin-top: 40px;">
                    <b class="fs-5">PROFILE INFORMATION</b>
                    <br />
                </div>
                <div class="d-flex flex-column flex-sm-row align-items-flex-start justify-content-center">
                    <div class="d-flex align-items-center justify-content-center p-2 w-100 flex-column flex-sm-50">
                        <img src="../assets/iconprof.png" class="d-block filter" style="width:240px" alt="..." />
                        <div class="d-flex align-items-center justify-content-center p-2 w-100">
                        </div>
                    </div>

                    <div class="d-flex align-items-center align-items-sm-start justify-content-start p-2 w-100 flex-column flex-sm-50" style="margin-top: 60px;">
                        <br />
                        <b class="fs-5">FULL NAME: </b>
                        <br />
                        <b class="fs-5">YEAR LEVEL:</b>
                        <br />
                        <b class="fs-5">DEGREE PROGRAM:</b>
                        <br />
                        <b class="fs-5"> EMAIL:</b>
                        <br />
                        <b class="fs-5">USERNAME: @HttpContextAccessor?.HttpContext?.Session.GetString("_UserName")</b>
                        <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-row flex-md-row flex-md-50" style="margin-top:100px">
                            <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">
                                <button type="button" class="btn btn-warning ml-md-3 mr-md-3 mr-md-3" style="width:150px; height:50px;"><b> EDIT PROFILE </b> </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div> <!-- card -->
        </div>
        <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-row flex-md-row flex-md-50" style="margin-top:40px">
            <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">
                <button type="button" class="btn btn-warning ml-md-3 mr-md-3 mr-md-3" style="width:100%; height:50px;"><b> ADD NEW INFO </b> </button>
            </div>
        </div>

        <div class="card card w-100 w-md-90" style="width:90%;margin-top:40px!important;margin-bottom:40px!important; color:white;border-radius: 20px!important;">
            <div class="card-body " style="background-color:#1E1E1E;padding:40px ; border-radius: 20px!important;">
                <!--<img src="@Url.Action("DisplayBase64Image")" alt="Base64 Image" />  -->

                <div class="d-flex flex-row flex-sm-row align-items-flex-start justify-content-center" style="margin-top: 40px;">
                    <b class="fs-5">BACKGROUND INFORMATION</b>
                    <br />
                </div>
                <div class="d-flex flex-row flex-sm-row align-items-flex-start justify-content-start m-5">
                    <b class="fs-5">DESCRIPTION:</b>
                    <br />

                </div>
                <div class="d-flex flex-row flex-sm-row align-items-flex-start justify-content-start m-5">
                    <b class="fs-5">EDUCATION:</b>
                    <br />
                </div>
                <div class="d-flex flex-row flex-sm-row align-items-flex-start justify-content-start m-5">
                    <b class="fs-5">SKILLS:</b>
                    <br />

                </div>
                <div class="d-flex flex-row flex-sm-row align-items-flex-start justify-content-start m-5">
                    <b class="fs-5">EXPERIENCE:</b>
                    <br />
                </div>

                <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-row flex-md-row flex-md-50" style="margin-top:100px">
                    <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">
                        <button type="button" class="btn btn-warning ml-md-3 mr-md-3 mr-md-3" style="width:150px; height:50px;"><b> EDIT INFO </b> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
