@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Account";

    }
<div class="d-flex align-items-center justify-content-center flex-column ">
    <div class="card w-100 w-md-90" style="margin-top:100px!important; color:white; border-radius: 50px!important;">
        <div class="card-body " style="background-color:#1E1E1E;padding:40px ; border-radius: 50px!important; ">
            <!--<img src="@Url.Action("DisplayBase64Image")" alt="Base64 Image" />  -->

            <div class="d-flex flex-column flex-sm-row align-items-flex-start justify-content-center">
                <div class="d-flex align-items-center justify-content-center p-2 w-100 flex-column flex-sm-50">
                    <img src="../assets/iconprof.png" class="d-block filter" style="border-radius: 70%; width:240px" alt="..." />
                </div>
                <div class="d-flex align-items-center align-items-sm-start justify-content-start p-2 w-100 flex-column flex-sm-50">
                    <b class="fs-5">USERNAME</b>
                    <br />
                    <b class="fs-5">USERNAME</b>
                    <br />

                    <b class="fs-5">USERNAME</b>
                    <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-row flex-md-row flex-md-50" style="margin-top:100px">
                        <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">
                            <a asp-area="" asp-controller="Student" asp-action="EditAccount" type="button" class="btn btn-warning ml-md-3 mr-md-3 mr-md-3" style="width:150px; height:40px;"><b> EDIT PROFILE </b> </a>
                        </div>
                        <div class="d-flex align-items-center align-items-md-center justify-content-center justify-content-md-center p-2 w-100 flex-column flex-md-row flex-md-50">
                            <button type="button" class="btn btn-warning ml-md-3 mr-md-3 mr-md-3" style="width:150px; height:40px;"><b> ADD NEW INFO </b> </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card card w-100 w-md-90" style="width:90%;margin-top:40px!important;margin-bottom:40px!important; color:white; border-radius: 50px!important;">
        <div class="card-body " style="background-color:#1E1E1E;padding:40px ; border-radius: 50px!important; ">
            <!--<img src="@Url.Action("DisplayBase64Image")" alt="Base64 Image" />  -->

            <div class="d-flex flex-column flex-sm-row align-items-flex-start justify-content-center">
            </div>

        </div>
    </div>
</div>